In [1]:
import pandas as pd

# Example 1: Creating a DataFrame from a list of lists
data = [['Alice', 25], ['Bob', 30], ['Charlie', 22]]
columns = ['Name', 'Age']

df1 = pd.DataFrame(data, columns=columns)
print("DataFrame 1:")
print(df1)

DataFrame 1:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [2]:
import pandas as pd

# Example 2: Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}

df2 = pd.DataFrame(data)
print("DataFrame 2:")
print(df2)

DataFrame 2:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [3]:
import pandas as pd
import numpy as np

# Example 3: Creating a DataFrame from a NumPy array
data = np.array([[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']])
columns = ['ID', 'Name']

df3 = pd.DataFrame(data, columns=columns)
print("DataFrame 3:")
print(df3)

DataFrame 3:
  ID     Name
0  1    Alice
1  2      Bob
2  3  Charlie

In [6]:
import pandas as pd

# Example 4: Creating a DataFrame from a CSV file
csv_file_path = 'heart.csv'

df4 = pd.read_csv(csv_file_path)
print("DataFrame 4:")
print(df4)

DataFrame 4:
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [5]:
import pandas as pd
import numpy as np

# Example 5: Creating a DataFrame with date index
date_index = pd.date_range('2022-01-01', periods=3, freq='D')
data = np.random.randn(3, 2)  # Random data for illustration

df5 = pd.DataFrame(data, index=date_index, columns=['Column1', 'Column2'])
print("DataFrame 5:")
print(df5)

DataFrame 5:
             Column1   Column2
2022-01-01  0.673067  1.344474
2022-01-02 -1.417884 -1.076702
2022-01-03 -1.380060 -0.126941